* {
    font-family: "UbuntuMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    padding: 0;
}

window#waybar {
    background: #ffffff;
}

window#waybar.hidden {
    opacity: 0;
}

tooltip {
    background: #fcfcfc;
    border-radius: 0;
    border: 1px solid #000000;
}

tooltip label {
    color: #000000;
}

#workspaces button {
    padding: 0.25rem;
}

#workspaces button.urgent {
    color: #ee9295;
}

#clock,
#battery,
#network,
#pulseaudio,
#backlight,
#bluetooth,
#workspaces {
    color: #000000;
    padding: 0 1rem;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.critical:not(.charging) {
    color: #ee9295;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
