* {
    font-family: "UbuntuMono Nerd Font";
    font-size: 16px;
    padding: 0;
}

window#waybar {
    background: #f8f8f8;
    border-bottom: 1px solid #000000;
}

window#waybar.hidden {
    opacity: 0;
}

tooltip {
    background: #f8f8f8;
    border: 1px solid #000000;
    border-radius: 0;
    text-shadow: none;
}

tooltip label {
    color: #000000;
}

#workspaces button {
    padding: 0.25rem;
    background: none;
    border-radius: 0;
    border: 0;
}

#clock,
#battery,
#network,
#pulseaudio,
#bluetooth,
#workspaces {
    color: #000000;
    padding: 0 0.75rem;
}

@keyframes blink {
    to {
        background-color: #f8f8f8;
        color: black;
    }
}

#battery.critical:not(.charging) {
    color: #c55555;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
