* {
    font-family: "UbuntuMono Nerd Font";
    font-size: 16px;
    text-shadow: none;
    box-shadow: none;
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

window > box {
    border-bottom: 1px solid #000000;
    background: #f8f8f8;
}

tooltip {
    background: #f8f8f8;
}

tooltip label {
    color: #000000;
}

#workspaces button {
    padding: 0.25rem;
}

#clock:hover,
#battery:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#workspaces button:hover,
#workspaces button.active {
    background: #d8d8d8;
}

#clock,
#battery,
#network,
#bluetooth,
#pulseaudio {
    padding: 0 1rem;
}

@keyframes blink {
    to {
        color: #c55555;
    }
}

#workspaces.button.urgent,
#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
