* {
    font-family: "UbuntuMono Nerd Font";
    font-size: 14px;
    font-weight: normal;

    background: transparent;
    background-color: transparent;

    border: none;
    border-radius: 0;

    outline: none;
}

#scroll {
    border: 1px solid #000000;
    background-color: #f8f8f8;
}

#input {
    padding: 0 0.5rem;
}

#text:selected {
    color: #fcfcfc;
    font-weight: bold;
}

#entry:selected {
    background: #000000;
}
